<div class="layout-mode" fxFlex fxLayout="column">
    <div class="page-header">
        <h4>User Authorization</h4>
    </div>
    <div class="card" fxFlex *ngIf="!addAuthScreen">
        <div class="card-body" fxFlex fxLayout="column">
            <form>
                <div class="row">
                    <div class="col-sm-6 col-md-4 mb-sm-0 mb-1">
                        <div class="d-flex align-items-center">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" id="search"
                                    placeholder="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-sm btn-icon" type="button">
                                        <svg viewBox="0 0 410.23 410.23" class="icon">
                                            <use xlink:href="#search"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <button class="btn btn-success btn-sm ml-2 btn-icon" type="button" (click)="addAuthScreenToggle()">
                                <svg viewBox="0 0 512 512" class="icon">
                                    <use xlink:href="#add"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Kendo Grid Start -->
            <div fxLayout="column" fxFlex="100%" class="kendo-grid-wrapper mt-3">

                <kendo-grid [kendoGridBinding]="gridData" [resizable]="true" [sortable]="true" class="full-height-grid kendo-responsive-grid" [filterable]=isColumnFilter
                    [groupable]=isColumnGroup [columnMenu]="false">
                    <!-- [pageSize]="10" 
                    [pageable]="{
                        buttonCount: paginationButtonCount,
                        info: paginationInfo,
                        type: paginationType,
                        pageSizes: paginationPageSizes,
                        previousNext: paginationInfoPreviousNext
                    }"> -->
                    <!-- grid template start -->
                    <ng-template kendoGridToolbarTemplate >
                        <div class="d-flex align-items-center">
                            <!-- show hide column start show hide -->
                            <!-- <kendo-grid-column-chooser class="float-left opti_hide-in-mobile"></kendo-grid-column-chooser> -->

                            <!-- checkbox -->
                            <label class="custom-checkbox mb-0 mr-2">
                                <input type="checkbox" [(ngModel)]="isColumnFilter" [ngModelOptions]="{standalone: true}">
                                <span class="checkbox"></span>
                                <span>Enable filter</span>
                            </label>
                            <label class="custom-checkbox mb-0">
                                <input type="checkbox" [(ngModel)]="isColumnGroup" [ngModelOptions]="{standalone: true}">
                                <span class="checkbox"></span>
                                <span>Enable grouping</span>
                            </label>
                            <!-- export -->
                            <button type="button" kendoGridExcelCommand title="Export to excel file" class="ml-auto btn btn-link btn-sm btn-icon p-0">
                                <svg viewBox="0 0 512 512" class="icon">
                                    <use xlink:href="#download"></use>
                                </svg>
                            </button>
                        </div>
                    </ng-template>

                    <!-- Mobile view column -->
                    <kendo-grid-column media="(max-width: 767px)" title="Items">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div class="d-flex">
                                <dl class="mb-0 w-50 pr-1">
                                    <dt>Group Code</dt>
                                    <dd>{{ dataItem.ProductName }}</dd>
    
                                    <dt>Admin</dt>
                                    <dd class="mb-0">{{ dataItem.Category.CategoryName }}</dd>
                                </dl>                                
                                <dl class="mb-0 w-50">
                                    <dt>Group Description</dt>
                                    <dd>{{ dataItem.Category.Description }}</dd>
                                </dl>
                            </div>
                        </ng-template>
                    </kendo-grid-column>

                    <!-- columns for mid-size devices -->
                    <kendo-grid-column media="(min-width: 768px)" field="ProductName" title="Group Code">
                    </kendo-grid-column>
                    <kendo-grid-column media="(min-width: 768px)" field="Category.Description" title="Group Description"></kendo-grid-column>
                    <kendo-grid-column media="(min-width: 768px)" field="Category.CategoryName" title="Admin">
                    </kendo-grid-column>

                    <!-- xlsx template start -->
                    <kendo-grid-excel fileName="User-authorization.xlsx"></kendo-grid-excel>
                    <!-- xlsx template end -->
                </kendo-grid>
            </div>
            <!-- Kendo Grid End -->
        </div>
    </div>
    <!-- add user screen -->
    <div class="card" fxFlex *ngIf="addAuthScreen">
        <div class="card-body pb-2" fxFlex fxLayout="column">            
            <div class="addAuthScreen" fxFlex="100%">
                <div class="row">
                    <div class="col-sm-5 col-md-4 col-lg-4 col-xl-4">
                        <div class="form-group mb-2">
                            <label class="mb-0" for="user_group">User Group</label>
                            <kendo-dropdownlist id="user_group" name="user_group" class="form-control-sm form-control w-100"></kendo-dropdownlist>
                        </div> 
                    </div>                          
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group mb-2">
                            <label class="mb-0">Roles</label>
                            <kendo-grid [kendoGridBinding]="gridData" [resizable]="true" [sortable]="true" class="custom-height-grid" [filterable]=isColumnFilter
                                [groupable]=isColumnGroup [columnMenu]="false" [selectable]="{ checkboxOnly: true, mode: 'multiple' }">
                                <!-- [pageSize]="10" 
                                [pageable]="{
                                    buttonCount: paginationButtonCount,
                                    info: paginationInfo,
                                    type: paginationType,
                                    pageSizes: paginationPageSizes,
                                    previousNext: paginationInfoPreviousNext
                                }"> -->
                                <!-- grid template start -->
                                <ng-template kendoGridToolbarTemplate >
                                    <div class="d-flex align-items-center">
                                        <!-- show hide column start show hide -->
                                        <!-- <kendo-grid-column-chooser class="float-left opti_hide-in-mobile"></kendo-grid-column-chooser> -->
        
                                        <!-- checkbox -->
                                        <label class="custom-checkbox mb-0 mr-2">
                                            <input type="checkbox" [(ngModel)]="isColumnFilter" [ngModelOptions]="{standalone: true}">
                                            <span class="checkbox"></span>
                                            <span>Enable filter</span>
                                        </label>
                                        <label class="custom-checkbox mb-0">
                                            <input type="checkbox" [(ngModel)]="isColumnGroup" [ngModelOptions]="{standalone: true}">
                                            <span class="checkbox"></span>
                                            <span>Enable grouping</span>
                                        </label>
                                        <!-- export -->
                                        <button type="button" kendoGridExcelCommand title="Export to excel file" class="ml-auto btn btn-link btn-sm btn-icon p-0">
                                            <svg viewBox="0 0 512 512" class="icon">
                                                <use xlink:href="#download"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </ng-template>
        
                                <!-- columns for mid-size devices -->
                                <kendo-grid-checkbox-column [width]="38" showSelectAll="true" class="text-center" headerClass="text-center"></kendo-grid-checkbox-column>
                                <kendo-grid-column field="ProductName" title="Role ID"></kendo-grid-column>
                                <kendo-grid-column field="Category.Description" title="Description"></kendo-grid-column>
                                <kendo-grid-column field="Category.Description" title="Product"></kendo-grid-column>
                                <!-- xlsx template start -->
                                <kendo-grid-excel fileName="Roles.xlsx"></kendo-grid-excel>
                                <!-- xlsx template end -->
                            </kendo-grid>
                        </div> 
                    </div>                            
                </div>
                <div class="border-top py-3 mt-2">
                    <div class="form-row align-items-end">
                        <div class="col-sm-5 col-md-4 col-lg-4 col-xl-4">
                            <div class="form-group mb-2">
                                <label class="mb-0" for="user_group">User Id</label>
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" id="user_id"
                                        placeholder="">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary btn-sm btn-icon" type="button" (click)="dialougeToggle()">
                                            <svg viewBox="0 0 410.23 410.23" class="icon">
                                                <use xlink:href="#search"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div> 
                        </div>   
                        <div class="col-sm-7 col-md-8 col-lg-8 col-xl-8">
                            <div class="form-group mb-2">
                                <button class="btn btn-primary btn-sm btn-icon" type="button">
                                    <svg viewBox="0 0 21.825 21.825" class="icon">
                                        <use xlink:href="#downArrow"></use>
                                    </svg>
                                </button>

                                <button class="btn btn-danger btn-sm ml-2 btn-icon" type="button">
                                    <svg viewBox="0 0 753.23 753.23" class="icon">
                                        <use xlink:href="#bin"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>                       
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                            <kendo-grid [kendoGridBinding]="gridData" [resizable]="true" [sortable]="true" class="custom-height-grid" [filterable]=isColumnFilter2
                                [groupable]=isColumnGroup2 [columnMenu]="false" [selectable]="{ checkboxOnly: true, mode: 'multiple' }">
                                <!-- [pageSize]="10" 
                                [pageable]="{
                                    buttonCount: paginationButtonCount,
                                    info: paginationInfo,
                                    type: paginationType,
                                    pageSizes: paginationPageSizes,
                                    previousNext: paginationInfoPreviousNext
                                }"> -->
                                <!-- grid template start -->
                                <ng-template kendoGridToolbarTemplate >
                                    <div class="d-flex align-items-center">
                                        <!-- show hide column start show hide -->
                                        <!-- <kendo-grid-column-chooser class="float-left opti_hide-in-mobile"></kendo-grid-column-chooser> -->

                                        <!-- checkbox -->
                                        <label class="custom-checkbox mb-0 mr-2">
                                            <input type="checkbox" [(ngModel)]="isColumnFilter2" [ngModelOptions]="{standalone: true}">
                                            <span class="checkbox"></span>
                                            <span>Enable filter</span>
                                        </label>
                                        <label class="custom-checkbox mb-0">
                                            <input type="checkbox" [(ngModel)]="isColumnGroup2" [ngModelOptions]="{standalone: true}">
                                            <span class="checkbox"></span>
                                            <span>Enable grouping</span>
                                        </label>
                                        <!-- export -->
                                        <button type="button" kendoGridExcelCommand title="Export to excel file" class="ml-auto btn btn-link btn-sm btn-icon p-0">
                                            <svg viewBox="0 0 512 512" class="icon">
                                                <use xlink:href="#download"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </ng-template>

                                <kendo-grid-column field="ProductName" title="Product"></kendo-grid-column>
                                <kendo-grid-column field="Category.Description" title="Screen"></kendo-grid-column>

                                <kendo-grid-column field="code" title="Add" width="60" class="text-center" headerClass="text-center">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <label class="custom-checkbox mb-0">
                                            <input type="checkbox">
                                            <span class="checkbox"></span>
                                        </label>
                                    </ng-template>
                                </kendo-grid-column>

                                <kendo-grid-column field="code" title="Update" width="60" class="text-center" headerClass="text-center">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <label class="custom-checkbox mb-0">
                                            <input type="checkbox">
                                            <span class="checkbox"></span>
                                        </label>
                                    </ng-template>
                                </kendo-grid-column>

                                <kendo-grid-column field="code" title="Delete" width="60" class="text-center" headerClass="text-center">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <label class="custom-checkbox mb-0">
                                            <input type="checkbox">
                                            <span class="checkbox"></span>
                                        </label>
                                    </ng-template>
                                </kendo-grid-column>

                                <kendo-grid-column field="code" title="Read" width="60" class="text-center" headerClass="text-center">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <label class="custom-checkbox mb-0">
                                            <input type="checkbox">
                                            <span class="checkbox"></span>
                                        </label>
                                    </ng-template>
                                </kendo-grid-column>

                                <!-- xlsx template start -->
                                <kendo-grid-excel fileName="document.xlsx"></kendo-grid-excel>
                                <!-- xlsx template end -->
                            </kendo-grid>
                        </div>                            
                    </div>
                </div>
            </div>

            <!-- user detail save/cancel option -->
            <div class="sticky-bottom-toolbar d-flex align-items-center justify-content-start border-top pt-2">                
                <button class="btn btn-primary btn-sm d-flex align-items-center mr-2" type="button"> 
                    <svg viewBox="0 0 55.25 55.25" class="icon mr-2">
                        <use xlink:href="#edit"></use>
                    </svg> Edit
                </button>
                <button class="btn btn-success btn-sm mr-2 d-flex align-items-center" type="button">
                    <svg viewBox="0 0 512 512" class="icon mr-2">
                        <use xlink:href="#saveDisk"></use>
                    </svg> Save
                </button>
                <button class="btn btn-danger btn-sm d-flex align-items-center mr-2" type="button"> 
                    <svg viewBox="0 0 753.23 753.23" class="icon mr-2">
                        <use xlink:href="#bin"></use>
                    </svg> Delete
                </button>
                <button class="btn btn-danger btn-sm d-flex align-items-center" type="button" (click)="addAuthScreenToggle()"> 
                    <svg viewBox="0 0 489 489" class="icon mr-2">
                        <use xlink:href="#cancel"></use>
                    </svg> Cancel
                </button>
            </div>
        </div>
    </div>
</div>
    

<!-- Kendo Dialouge -->

<kendo-dialog *ngIf="dialogOpened" (close)="dialougeToggle()" [minWidth]="250" [width]="750">
    <kendo-dialog-titlebar>
        <div>Select User</div>
    </kendo-dialog-titlebar>
    <div class="">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group mb-3">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" id="search"
                            placeholder="Search">
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-sm btn-icon" type="button">
                                <svg viewBox="0 0 410.23 410.23" class="icon">
                                    <use xlink:href="#search"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <kendo-grid [kendoGridBinding]="gridData" [resizable]="true" [sortable]="true" [filterable]=isColumnFilter3
            [groupable]=isColumnGroup3 [columnMenu]="false" [height]="250" [selectable]="{ checkboxOnly: true, mode: 'multiple' }">
            <!-- [pageSize]="10" 
            [pageable]="{
                buttonCount: paginationButtonCount,
                info: paginationInfo,
                type: paginationType,
                pageSizes: paginationPageSizes,
                previousNext: paginationInfoPreviousNext
            }"> -->
            <!-- grid template start -->
            <ng-template kendoGridToolbarTemplate >
                <div class="d-flex align-items-center">
                    <!-- show hide column start show hide -->
                    <!-- <kendo-grid-column-chooser class="float-left opti_hide-in-mobile"></kendo-grid-column-chooser> -->

                    <!-- checkbox -->
                    <label class="custom-checkbox mb-0 mr-2">
                        <input type="checkbox" [(ngModel)]="isColumnFilter3" [ngModelOptions]="{standalone: true}">
                        <span class="checkbox"></span>
                        <span>Enable filter</span>
                    </label>
                    <label class="custom-checkbox mb-0">
                        <input type="checkbox" [(ngModel)]="isColumnGroup3" [ngModelOptions]="{standalone: true}">
                        <span class="checkbox"></span>
                        <span>Enable grouping</span>
                    </label>
                </div>
            </ng-template>
            <kendo-grid-column field="ProductName" title="User Id"></kendo-grid-column>
            <kendo-grid-column field="Category.Description" title="User Name"></kendo-grid-column>
        </kendo-grid>
    </div>
    <kendo-dialog-actions class="p-2 align-items-start">
        <button class="btn btn-danger btn-sm d-flex align-items-center" type="button" (click)="dialougeToggle()"> 
            <svg viewBox="0 0 489 489" class="icon mr-2">
                <use xlink:href="#cancel"></use>
            </svg> Cancel
        </button>
    </kendo-dialog-actions>
</kendo-dialog>