<div class="layout-mode" fxFlex fxLayout="column">
    <div class="page-header">
        <h4>User Group</h4>
    </div>
    <div class="card" fxFlex>
        <div class="card-body" fxFlex fxLayout="column">
            <form>
                <div class="row">
                    <div class="col-sm-6 col-md-4 mb-sm-0 mb-1">
                        <div class="d-flex align-items-center">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" id="search"
                                    placeholder="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-sm btn-icon" type="button">
                                        <svg viewBox="0 0 410.23 410.23" class="icon">
                                            <use xlink:href="#search"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <button class="btn btn-success btn-sm ml-2 btn-icon" type="button" (click)="dialougeToggle()">
                                <svg viewBox="0 0 512 512" class="icon">
                                    <use xlink:href="#add"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Kendo Grid Start -->
            <div fxLayout="column" fxFlex="100%" class="kendo-grid-wrapper mt-3">

                <kendo-grid [kendoGridBinding]="gridData" [resizable]="true" [sortable]="true" class="full-height-grid kendo-responsive-grid" [filterable]=isColumnFilter
                    [groupable]=isColumnGroup [columnMenu]="false">
                    <!-- [pageSize]="10" 
                    [pageable]="{
                        buttonCount: paginationButtonCount,
                        info: paginationInfo,
                        type: paginationType,
                        pageSizes: paginationPageSizes,
                        previousNext: paginationInfoPreviousNext
                    }"> -->
                    <!-- grid template start -->
                    <ng-template kendoGridToolbarTemplate >
                        <div class="d-flex align-items-center">
                            <!-- show hide column start show hide -->
                            <!-- <kendo-grid-column-chooser class="float-left opti_hide-in-mobile"></kendo-grid-column-chooser> -->

                            <!-- checkbox -->
                            <label class="custom-checkbox mb-0 mr-2">
                                <input type="checkbox" [(ngModel)]="isColumnFilter">
                                <span class="checkbox"></span>
                                <span>Enable filter</span>
                            </label>
                            <label class="custom-checkbox mb-0">
                                <input type="checkbox" [(ngModel)]="isColumnGroup">
                                <span class="checkbox"></span>
                                <span>Enable grouping</span>
                            </label>
                            <!-- export -->
                            <button type="button" kendoGridExcelCommand title="Export to excel file" class="ml-auto btn btn-link btn-sm btn-icon p-0">
                                <svg viewBox="0 0 512 512" class="icon">
                                    <use xlink:href="#download"></use>
                                </svg>
                            </button>
                        </div>
                    </ng-template>

                    <!-- Mobile view column -->
                    <kendo-grid-column media="(max-width: 767px)" title="Items">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div class="d-flex">
                                <dl class="mb-0 w-50 pr-1">
                                    <dt>Group Code</dt>
                                    <dd>{{ dataItem.ProductName }}</dd>
    
                                    <dt>Admin</dt>
                                    <dd class="mb-0">{{ dataItem.Category.CategoryName }}</dd>
                                </dl>                                
                                <dl class="mb-0 w-50">
                                    <dt>Group Description</dt>
                                    <dd>{{ dataItem.Category.Description }}</dd>
                                </dl>
                            </div>
                        </ng-template>
                    </kendo-grid-column>

                    <!-- columns for mid-size devices -->
                    <kendo-grid-column media="(min-width: 768px)" field="ProductName" title="Group Code"></kendo-grid-column>
                    <kendo-grid-column media="(min-width: 768px)" field="Category.Description" title="Group Description"></kendo-grid-column>
                    <kendo-grid-column media="(min-width: 768px)" field="Category.CategoryName" title="Admin">
                    </kendo-grid-column>

                    <!-- xlsx template start -->
                    <kendo-grid-excel fileName="User-group.xlsx"></kendo-grid-excel>
                    <!-- xlsx template end -->
                </kendo-grid>
            </div>
            <!-- Kendo Grid End -->
        </div>
    </div>
</div>

<!-- Kendo Dialouge -->

<kendo-dialog *ngIf="dialogOpened" (close)="dialougeToggle()" [minWidth]="250" [width]="450">
    <kendo-dialog-titlebar>
        <div > Add New</div>
    </kendo-dialog-titlebar>
    <div class="">
        <form >
            <div class="form-group mb-2">
                <label for="user_group" class="mb-0">User Group<span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-sm" id="user_group" name="user" autocomplete="off">
            </div>
            <div class="form-group mb-2">
                <label for="description" class="mb-0">Description<span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-sm" id="description" name="description" autocomplete="off">
            </div>            
            <div class="form-group mb-2" >
                <label for="mappes_user" class="mb-0">Mapped SAP B1 User <span class="text-danger">*</span></label>
                <kendo-dropdownlist class="w-100" id="mappes_user" name="mappes_user" class="form-control-sm form-control"></kendo-dropdownlist>
            </div>
            <div class="form-group mb-2">
                <label for="mappes_user_password" class="mb-0">Mapped SAP B1 User Password<span class="text-danger">*</span></label>
                <input type="password" id="mappes_user_password" name="mappes_user_password" class="form-control form-control-sm" autocomplete="off">
            </div>
            <div class="row form-group mb-0">
                <div class="col-12 d-flex align-items-center my-2">
                <label class="custom-checkbox mb-0">
                    <input type="checkbox" value="">
                    <span class="checkbox"></span>
                    <span class="text-inverse">Manager/Admin</span>
                </label>
                </div>
            </div>
        </form>
    </div>
    <kendo-dialog-actions class="p-2">
        <button class="btn btn-danger btn-sm d-flex align-items-center" type="button" (click)="dialougeToggle()"> 
            <svg viewBox="0 0 489 489" class="icon mr-2">
                <use xlink:href="#cancel"></use>
            </svg> Cancel
        </button>
        <button class="btn btn-success btn-sm ml-2 d-flex align-items-center" type="button">
            <svg viewBox="0 0 512 512" class="icon mr-2">
                <use xlink:href="#saveDisk"></use>
            </svg> Save
        </button>
    </kendo-dialog-actions>
</kendo-dialog>