<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="login-logo mx-auto text-center"><img src="./../../../assets/images/logo/OptiProERP.png" title="OptiPro-ERP" /></div>
        <div class="auth-box card">
          <div class="card-block">
            <div class="card-header">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h4 class="text-left m-0">Login</h4>
                </div>
              </div>
            </div>
            <form>
              <div class="card-body">
                <div class="form-group mb-2">
                  <label for="user" class="mb-0">Username<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="UserName" name="UserName" [(ngModel)]="model.UserName" aria-describedby="User" required placeholder="Username" autocomplete="off" required>
                 
                </div>
                <div class="form-group mb-2">
                  <label for="user" class="mb-0">Password<span class="text-danger">*</span></label>
                  <input type="password" id="Password" name="Password" [(ngModel)]="model.Password" class="form-control" placeholder="EnterPassword" autocomplete="off" required>
                </div>
                <div class="row my-4" >
                  <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-primary btn-block btn-md" (click)="login()">Connect</button>
                  </div>
                </div>
                <ng-container *ngIf="isConnected">
                  <div class="form-group mb-2">
                    <label for="company" class="mb-0">Company <span class="text-danger">*</span></label>
                    <kendo-dropdownlist class="w-100" id="companyId" name="companyId"></kendo-dropdownlist>
                  </div>
                  <div class="form-group mb-2">
                    <label for="warehouse" class="mb-0">Warehouse <span class="text-danger">*</span></label>
                    <kendo-dropdownlist class="w-100" id="whseId" name="whseId"></kendo-dropdownlist>
                  </div>
                  <div class="form-group mb-2">
                    <label for="workCenter" class="mb-0">WareCenter <span class="text-danger">*</span></label>
                    <kendo-dropdownlist class="w-100" id="workCenterId" name="workCenterId"></kendo-dropdownlist>
                  </div>
                  <div class="row form-group mb-0">
                    <div class="col-12 d-flex align-items-center my-2">
                      <label class="custom-checkbox mb-0">
                        <input type="checkbox" value="">
                        <span class="checkbox"></span>
                        <span class="text-inverse">Require Machine</span>
                      </label>
                    </div>
                  </div>
                  <div class="form-group mb-2" >
                    <label for="machine" class="mb-0">Machine <span class="text-danger">*</span></label>
                    <kendo-dropdownlist class="w-100" id="machineId" name="machineId"></kendo-dropdownlist>
                  </div>
                  <div class="row form-group mb-0">
                    <div class="col-12 d-flex align-items-center my-2">
                      <label class="custom-checkbox mb-0">
                        <input type="checkbox" value="">
                        <span class="checkbox"></span>
                        <span class="text-inverse">Remember Me</span>
                      </label>
                    </div>
                  </div>
                  <div class="card-footer border-0 p-0 rounded-bottom">
                    <div class="row mt-0">
                      <div class="col-md-12 text-center" fxLayout="row">
                        <button type="button" class="btn btn-primary btn-lg rounded-0" fxFlex="100">Login</button>
                        <!-- <span class="px-1"></span> -->
                        <button type="button" class="btn btn-secondary btn-lg rounded-0" fxFlex="100">Reset</button>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

