<form>
    <!-- <div class="row">
        <div class="col-sm-4">
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Order Start Date Time</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control form-control-sm" id="colFormLabelSm">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Order Due Date Time</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control form-control-sm" id="colFormLabelSm">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Opn#</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control form-control-sm" id="colFormLabelSm">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group row">
                <div class="col-sm-12">
                    <input type="email" class="form-control form-control-sm" id="colFormLabelSm">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Open Qty on Opn</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control form-control-sm" id="colFormLabelSm">
                </div>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="form-group col-md-4 mb-2">
            <label for="" class="mb-0">Order Start Date Time</label>
            <input type="email" class="form-control-sm form-control" id="" placeholder="">
        </div>
        <div class="form-group col-md-4 mb-2">
            <label for="" class="mb-0">Order Due Date Time</label>
            <input type="text" class="form-control-sm form-control" id="" placeholder="">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4 mb-2">
            <label for="" class="mb-0">Opn#</label>
            <input type="email" class="form-control-sm form-control" id="" placeholder="">
        </div>
        <div class="form-group col-md-4 mb-2 d-flex align-items-end">
            <input type="text" class="form-control-sm form-control" id="" placeholder="">
        </div>
        <div class="form-group col-md-4 mb-2">
            <label for="" class="mb-0">Open Qty on Opn</label>
            <input type="text" class="form-control-sm form-control" id="" placeholder="">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4 mb-2">
            <label for="" class="mb-0">Item Code</label>
            <input type="email" class="form-control-sm form-control" id="" placeholder="">
        </div>
        <div class="form-group col-md-4 mb-2 d-flex align-items-end">
            <input type="text" class="form-control-sm form-control" id="" placeholder="Mobile ST">
        </div>
        <div class="form-group col-md-4 mb-2">
            <label for="" class="mb-0 w-100">Generate</label>
            <button class="btn btn-outline-secondary btn-sm ml-1 btn-icon" type="button">
                <svg viewBox="0 0 512 512" class="icon">
                    <use xlink:href="#qr"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4 mb-2">
            <label for="" class="mb-0">Opn Start %</label>
            <input type="email" class="form-control-sm form-control" id="" placeholder="">
        </div>
        <div class="form-group col-md-4 mb-2">
            <label for="" class="mb-0 w-100">Opn End %</label>
            <input type="email" class="form-control-sm form-control" id="" placeholder="">
        </div>
        <div class="form-group col-md-4 mb-2">
            <label for="" class="mb-0 w-100">Opn Standard Time</label>
            <input type="email" class="form-control-sm form-control" id="" placeholder="">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4 mb-2">
            <label for="" class="mb-0">Order Qty</label>
            <input type="email" class="form-control-sm form-control" id="" placeholder="">
        </div>
        <div class="form-group col-md-4 mb-2">
            <label for="" class="mb-0 w-100">Assigned Qty</label>
            <input type="email" class="form-control-sm form-control" id="" placeholder="">
        </div>
        <div class="form-group col-md-4 mb-2">
            <label for="" class="mb-0 w-100">Assigned Time</label>
            <input type="email" class="form-control-sm form-control" id="" placeholder="">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4 mb-2">
            <label for="" class="mb-0">(Break+Down)Time</label>
            <input type="email" class="form-control-sm form-control" id="" placeholder="">
        </div>
        <div class="form-group col-md-4 mb-2">
            <label for="" class="mb-0 w-100">Work Time</label>
            <input type="email" class="form-control-sm form-control" id="" placeholder="">
        </div>
        <div class="form-group col-md-4 mb-2">
            <label for="" class="mb-0 w-100">Reprint Labels</label>
            <button class="btn btn-outline-secondary btn-sm ml-1 btn-icon" type="button">
                <svg viewBox="0 0 512 512" class="icon">
                    <use xlink:href="#qr"></use>
                </svg>
            </button>
        </div>
    </div>
</form>